version: '3.8'

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/logitrack
      - JWT_SECRET=dev_secret_key_123
      - JWT_REFRESH_SECRET=dev_refresh_secret_key_123
      - NODE_ENV=development
    depends_on:
      - mongo
    volumes:
      - ./src:/app/src
      - /app/node_modules

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
